<!DOCTYPE html>

<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <!-- 页面meta -->

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>购物平台</title>

  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

  <!-- 引入样式 -->

  <link rel="stylesheet" href="../../plugins/elementui/index.css">

  <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="../../css/style.css">

</head>

<body class="hold-transition">

<div id="app">

  <div class="app-container">

    <div class="box">

      <div class="filter-container">

        <el-tag stytle="100px">分类展示</el-tag>

        <template>
          <el-select style="width:300px;padding-left: 21px;padding-top: 10px" v-model="value" placeholder="请选择" >
            <el-option
                    @click.native="getAllByType(item.name)"
                    v-for="item in menuList"
                    :key="item.id"
                    :label="item.name"
                    :value="item.id"
            >
            </el-option>
          </el-select>
        </template>

        <el-button type="primary" icon="el-icon-refresh" @click="getAll()" round></el-button>

        <el-button type="primary" icon="el-icon-bell" @click="openCenter()"  round>{{userInfo.name}}</el-button>

      </div>

      <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>

        <el-table-column type="index" align="center" label="序号"></el-table-column>

        <el-table-column prop="name" label="商品名称" align="center"></el-table-column>

        <el-table-column label="商品样式" align="center" width="100px">

          <template   slot-scope="scope">
            <img :src="scope.row.goodsPic" style="width:50px; height: 50px;"/>
          </template>

        </el-table-column>

        <el-table-column prop="type" label="商品类型" align="center"></el-table-column>

        <el-table-column prop="description" label="商品描述" align="center"></el-table-column>

        <el-table-column prop="username" label="购买者" align="center"></el-table-column>

        <el-table-column prop="delivery" label="商品状态" align="center"></el-table-column>

        <el-table-column prop="businessname" label="商家" align="center"></el-table-column>

        <el-table-column prop="price" label="新旧程度(几成新)" align="center"></el-table-column>

        </el-table-column>

      </el-table>

    </div>

  </div>

</div>

</body>

<!-- 引入组件库 -->
<script type="text/javascript" src="../../js/jquery.min.js"></script>

<script src="../../js/axios-0.18.0.js"></script>

<script src="../../js/request.js"></script>
<script src="../../js/vue.js"></script>
<script src="../../plugins/elementui/index.js"></script>
<script>
  var vue = new Vue({

    el: '#app',
    data:{
      imageUrl: '',
      userInfo: {},
      dialogImageUrl: '',
      dialogVisible: false,
      fileList: [],
      pagination: {},
      dataList: [],//当前页要展示的列表数据
      formData: {},//表单数据
      dialogFormVisible: false,//控制表单是否可见
      dialogFormVisible4Edit:false,//编辑表单是否可见

      rules: {//校验规则
        price: [{ required: true, message: '商品新旧程度(几成新)为必填项', trigger: 'blur' }],
        name: [{ required: true, message: '商品名称为必填项', trigger: 'blur' }]
      },
      menuList: [
        {
          id: '2',
          name: '数码',
        },
        {
          id: '3',
          name: '工具',
        },
        {
          id: '4',
          name: '游戏',
        },
        {
          id: '5',
          name: '其它',
        }
      ],
    },

    //钩子函数，VUE对象初始化完成后自动执行
    created() {
      this.getAll();

      const userInfo = window.localStorage.getItem('userInfo')
      if (userInfo) {
        this.userInfo = JSON.parse(userInfo)
      }
      this.closeLoading();
    },

    methods: {

      openCenter() {
        this.$message({
          message: 'Ciallo～(∠・ω< )⌒★',
          center: true
        });
      },

      beforeUpload(file) {
        var testmsg=file.name.substring(file.name.lastIndexOf('.')+1)
        const isLt2M = file.size / 1024 / 1024 < 10     //这里做文件大小限制

        if(!isLt2M) {
          this.$message({
            message: '上传文件大小不能超过 10MB!',
            type: 'warning'
          });
        }
        return isLt2M
      },

      UploadImage(file,fileList) {
        let fd = new FormData()
        fd.append('file', file.raw) //传给后台接收的名字 file
        axiosservice.post('../../goods/upload', fd, {headers: {'Content-Type': 'multipart/form-data'}}).then(response => {
          //上传成功后返回的数据,
          console.log("上传图片到:"+response.data);
          // 将图片地址给到表单.
          this.ruleForm.image=response.data
        })
      },

      handleRemove(file, fileList) {
        console.log(file, fileList);
      },

      handlePreview(file) {
        console.log(file);
      },

      getAllByType(type){
        axiosservice.get("../../goods/getAllByTypeAll/"+type).then((res)=>{
          this.dataList = res.data;
        });
      },

      //列表
      getAll() {
        //发送ajax请求
        axiosservice.get("../../goods/getAll2").then((res)=>{
          this.dataList = res.data;
        });
      },

      //弹出添加窗口
      handleCreate() {
        this.dialogFormVisible = true;
        this.resetForm();
      },

      //重置表单
      resetForm() {
        this.formData = {};
      },

      //添加
      handleAdd () {
        this.formData.bid = this.userInfo.id;
        //发送ajax请求
        axiosservice.post("../../goods",this.formData).then((res)=>{
          console.log(res.data);
          //如果操作成功，关闭弹层，显示数据
          if(res.code == 20011){
            this.dialogFormVisible = false;
            this.$message.success("添加成功");
          }else if(res.code == 20010){
            this.$message.error("添加失败");
          }else if (res.code == 114514){
            this.$message.error("课程已存在");
          }else {
            this.$message.error(res.msg);
          }
        }).finally(()=>{
          this.getAll();
        });
      },

      //弹出编辑窗口
      handleUpdate(row) {
        // console.log(row);   //row.id 查询条件
        //查询数据，根据id查询
        axiosservice.get("../../goods/"+row.id).then((res)=>{
          // console.log(res.data);
          if(res.code == 20041){
            //展示弹层，加载数据
            this.formData = res.data;
            this.dialogFormVisible4Edit = true;
          }else{
            this.$message.error(res.msg);
          }
        });
      },

      //编辑
      handleEdit() {
        //发送ajax请求
        axiosservice.put("../../goods",this.formData).then((res)=>{
          //如果操作成功，关闭弹层，显示数据
          if(res.code == 20031){
            this.dialogFormVisible4Edit = false;
            this.$message.success("修改成功");
          }else if(res.code == 20030){
            this.$message.error("修改失败");
          }else if (res.code == 114514){
            this.$message.error("修改课程与已有课程重名");
          }else{
            this.$message.error(res.msg);
          }
        }).finally(()=>{
          this.getAll();
        });
      },

      // 删除
      handleDelete(row) {
        //1.弹出提示框
        this.$confirm("此操作永久删除当前数据，是否继续？","提示",{
          type:'info'
        }).then(()=>{
          //2.做删除业务
          axiosservice.delete("../../goods/"+row.id).then((res)=>{
            if(res.code == 20021){
              this.$message.success("删除成功");
            }else{
              this.$message.error("删除失败");
            }
          }).finally(()=>{
            this.getAll();
          });
        }).catch(()=>{
          //3.取消删除
          this.$message.info("取消删除操作");
        });
      }
    }
  })

</script>

</html>